* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

body {
    background: #000000;
    min-height: 100vh;
    background-position: center;
    box-sizing: border-box;
}

/* header 2*/

.header2 {
    width: 100%;
    display: flex;
    background-color: #4a4a4a;
    text-align: center;

}

.header2 ul {
    display: inline-flex;
    list-style: none;
}

.item-column ul {
    display: flow-root;
}

.Header-title {
    list-style: none;
    color: white;
}

.header2 ul li {
    width: 160px;
    margin: 1px;
    padding: 1px;
}

.header2 ul li a {
    text-decoration: none;
    color: white;
}

.active,
.header2 ul li a:hover {
    color: gold;

}

.item-column {
    display: none;
    /*display karana eka ain karana eka */
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



.sub-menu-1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: rgb(0, 0, 0);
    padding: 60px 10%;
}

.sub-menu-1 ul {
    list-style: none;
}

.item-column {
    width: 25%;
}

.item-column ul li {
    display: inline;
}

.subtitle {
    position: relative;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 21px;
    color: rgb(45, 221, 180);
    text-transform: capitalize;
}

.item-column ul li:not(:last-child) {
    margin-bottom: 8px;
}

.item-column ul li a {
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-decoration: rgb(0, 0, 0);
    transition: 1s;
}

.item-column ul li a:hover {
    color: rgb(201, 168, 0);
    padding-left: 5px;
}



/* header 2*/